export(XTSFunctions)
export(acc)
export(age_years)
export(beta.degree)
export(between)
export(bt.merge)
export(bt.prep)
export(buy.sell)
export(col.add.alpha)
export(count)
export(create.monthly.table)
export(date.day)
export(date.dayofweek)
export(date.fund.data)
export(date.month)
export(date.month.ends)
export(date.week)
export(date.week.ends)
export(date.year)
export(date.year.ends)
export(dates2index)
export(dow.jones.components)
export(extendForecast)
export(extract.table.from.webpage)
export(fast.rep)
export(find.matches)
export(find.names)
export(ftse100.components)
export(fund.data)
export(get.extension)
export(get.filename)
export(get.full.filename)
export(get.fund.data)
export(get.fund.data.index)
export(getQuote.google)
export(getQuote.google.xml)
export(getSymbols.PI)
export(getSymbols.fxhistoricaldata)
export(getSymbols.sit)
export(ifna)
export(ifnull)
export(iif)
export(index.xts)
export(join)
export(len)
export(load.packages)
export(lookup.index)
export(make.xts)
export(map2monthly)
export(mlag)
export(nasdaq.100.components)
export(normalize)
export(peaks)
export(plota)
export(plota.format)
export(plota.grid)
export(plota.layout)
export(plota.legend)
export(plota.lines)
export(plota.matplot)
export(plota.recession)
export(plota.stacked)
export(plota.theme)
export(plota.theme.blue.red)
export(plota.theme.gray.orange)
export(plota.theme.green.orange)
export(plota.x.highlight)
export(plota.y.highlight)
export(plota2Y)
export(prettyR)
export(read.excel)
export(read.xts)
export(repCol)
export(repRow)
export(repmat)
export(reverse_name)
export(run.count)
export(seasonals)
export(sector.spdr.components)
export(sp100.components)
export(sp500.components)
export(spl)
export(summarize.by)
export(third.friday.month)
export(tic)
export(toc)
export(trim)
export(unadj.rsquared)
export(write.excel)
export(write.xts)
import(Hmisc)
import(RCurl)
import(XML)
import(quantmod)
import(stringr)
import(timeDate)
import(xts)
